html {
    box-sizing: border-box;   
}

* {
    box-sizing: inherit;
}

body {
    text-align:center;
    margin:0px;
}

#main-ui {
    width:1000px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 100%;
    height: 40px;
    background-color:#FF6666;
    padding-left: 5px;
    padding-right: 5px;
}

.header .content {
    display: inline-block;
    vertical-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header .left {
    float: left;    
}

.header .center {
}

.header .right {
    float: right;
}

.left-column {
    width: 200px;
}

.right-column {
    margin-left: 200px;
    float: left;
}

.two-column-layout {
    height: 100%;
    background-color: #F7F7F7;
}

.clear {
    clear: both;
}

.chat-user {
    display: table-cell;
    text-align: right;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 20%;
    word-break: break-all;
    word-wrap: break-word;
}

.chat-message {
    display: table-cell;
    min-width: 50%;
    word-break: break-all;
    word-wrap: break-word;
    vertical-align: bottom;
}

.chat-line {
    display: table-row;
    width: 100%;
}

.chat-area {
    display: table;
    min-width: 500px;
    max-width: 800px;
}
.chat-input-line {
    display: block;
    width: 100%;
}
